@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fontfamily;
}
h1, h2, h3, h4, h5, h6{
    font-family: $fontfamily;
    margin: 0 !important;
}
a{
    text-decoration:none !important;
}
ul{padding:0 !important;}

p{
    font-family: $fontfamily;
    margin:0 !important;
    padding:0;
    line-height: 25px;
    font-size: 15px;
}

//Common Css
.sec-heading{
    font-weight: $bold;
    color: $black;
    font-size: 32px;
    position: relative;
    margin-bottom: 35px !important;
    @include md{
        font-size: 27px;
        margin-bottom: 12px !important;
    }
    @include sm{
        font-size: 25px;
    }
    @include sm{
        font-size: 22px;
    }
}
.seprator {
    padding-top: 100px;
    @include lsm{
        padding-top: 20px;
    }
}
.owl-stage-outer {
    padding: 0 !important;
}
.owl-stage {
    padding-bottom: 5px !important;
}
.owl-carousel {
    @include lg{
        margin: 0 !important;
    }
}
.owl-theme .owl-nav {
    @include sm{
        margin: 0 auto;
    }
}

.owl-stage {
    display: flex;
}
.descktop-banner{
    display:block;
    @include md{
        display:none;
    }
}
.responsive-banner{
    display:none;
    @include md{
        display:block;
    }
}
.projects-box-slider.owl-theme .owl-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}
.projects-box-slider .owl-nav i {
    border: 1px solid $primaryclr;
    color: $primaryclr;
    padding: 11px 16px;
}
.navbar-brand{
    img{
        @include sm{
            width: 130px;
        }
    }
}
/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
}
  #nav-icon3{
    width: 36px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2.3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
    width: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 16px;
    width: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span{
    width: 71%;
  }
  
/* Responsive Menu Bar Animation */
//Common Css

// @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-be);
.main-header.header-sticky {
    position: fixed;
    width: 100%;
    animation: smoothScroll 1s forwards;
    background-color: $white;
    z-index: 99;
    @include lsm{
        animation: none;
        position: initial;
    }
    
}
a.close-menu-respon {
    position: absolute;
    z-index: 99999;
    right: 0;
    top: 0px;
    display: none;
}
.responsive-menu .dropdown-menu {
    background: #f7e6c7;
    border: none;
    border-radius: 0;
    width: 100%;
}

.responsive-menu .dropdown-menu .dropdown-item {
    font-size: 14px;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.side-nav-menu{
    overflow:hidden;
    display: none;
    @include md{
        display: block;
    }
    &.overlay-menu{
        transition:all 0.5s;
        &:after {
            content: '';
            background: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: 99;
            left: 0;
            transition:all 0.5s;
        }
    }
    .responsive-menu{
        position: fixed; /* Stay in place */
        top: 0;
        height: 100vh;
        background: $secondaryclr;
        z-index: 999;
        width: 242px;
        padding: 0 0 0 23px;
        transition: all 0.9s;
        right:-100%;
        &.active{
            right:0;
        }
        .close-menu-respon{
            display: flex;
            justify-content: flex-end;
            transition: all 0.9s;
        }
        .nav-link{
            padding: 7px 35px;
            color: $primaryclr;
            margin: 11px 0;
            font-size: 16px;
            &.active{
                background-color: #f7e6c7;
                display: table;
            }
        }
        .loin-hu{
           margin-top: 100%;   
        }
    }
}
.main-header{
    box-shadow: 0 0 18px 5px #56565161;
    position: relative;
    #navbarSupportedContent{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding: 3px 22px;
                    color: $primaryclr;
                    font-size:16px;
                    font-weight: $medium;
                    @include lsm{
                        padding: 3px 52px;
                    }
                    &.current{
                        background-color: $secondaryclr;
                    }
                }
            }
            .dropdown{
                .dropdown-menu {
                    border-radius: 0;
                    background: #faefdb;
                    .dropdown-item{
                        &:hover, &:focus {
                            color: #1e2125;
                            background-color: #f7e6c7;
                        }
                    }
                }
            }
        }
    }
    
}




.banner{
    .container-fluid{
        padding:0 !important;
        .banner-inner{
            img{
                width: 100%;
            }
        }
    }
}

.about-conferece{
    // padding: 0px 0 70px;
    @include md{
        padding: 0px 0 30px;
    }
    .about-inner{
        h2{
            font-weight: $bold;
            padding-bottom: 15px;
        }
        p{
            &:nth-child(2), &:nth-child(3){
                padding-bottom:9px;
            }
        }
    }
    .conference-bottom{
        @include FlexDAJ($d-fl, $di-ro, $al-ce ,$ju-be);
        margin-top: 25px;
        @include md{
            margin-top: 20px;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        p{
            a{
                font-weight: $extrabold;
                color: $primaryclr;
            }
        }
        .read-more {
            @include btn-dflt;
            @include md{
                margin-bottom: 20px;
            }
        }
    }
}

.video-banner{
    position:relative;
    margin-top: 50px;
    @include lsm{
        margin-top: 12px;
    }
    .video-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        transition:all 0.7s;
    }
    .video-icon{
        @include center(both);
        img{
            transition:all 0.7s;
            @include md{
                width: 70px;
            }
            @include sm{
                width: 50px;
            }
        }
        .fill-img {
            display: none;
            transition:all 0.7s;
        }
        .brdr-img{
            display:block;
            transition:all 0.7s;
        }
    }
    
    &:hover{
        .fill-img{
            display:block;
            @include md{
                display:none;
            }
        }
        .brdr-img{
            display:none;
            @include md{
                display:block;
            }
        }
        .video-overlay {
           background: rgba(0, 0, 0, 0.8);
        }
    }
}
.agenda-area{
    padding: 0px 0 20px;
    overflow: hidden;
    @include md{
        padding: 0px 0 21px;
    }
    .arrow-indicator{
        display:none;
        @include md{
            display:block;
            position: relative;
            top: 30px;
            img {
                position: absolute;
                right: 0;
                z-index: 99;
                width: 29px;
                @include center(vertical);
            }
        }
        // position: absolute;
        // top: 30px;
        // right: -27px;
        // @include lsm{
        //     right: 3px;
        // } 
        // @include breakpoint(375px){
        //     right: 24px;
        // } 
    }
    .agenda-tabs{
        position:relative;
        @include md{
            width: 515px;
            overflow-x: scroll;
        }
        @include sm{
            width: 339px;
        }
        @include breakpoint(375px){
            width: 305px;
        }
        @include xs{
            width: 239px;
        }
        .nav-tabs{
            display:flex;
            flex-direction:column;
            border-color: transparent;
            @include md{
                overflow-x: scroll;
                flex-direction: row;
                width: 745px;
                flex-wrap: nowrap;
            }
            @include sm{
                width: 465px;
            }
            .nav-item{
                padding: 17px 0;
                position: relative;
                @include md{
                    padding: 17px 0;
                    position: relative;
                    margin-right: 30px;
                    width: 132px;
                }
                @include sm{
                    padding: 17px 0;
                    margin-right: 0px;
                    width: 95px;
                }
                button{
                    padding: 0;
                    font-size: 18px;
                    color: #c1c1c1;
                    border-color: transparent;
                    font-weight: $regular;
                    @include sm{
                        font-size: 14px;
                    }
                    &:before{
                        content: '';
                        background-color: $primaryclr;
                        width: 0px;
                        height: 2px;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        right: -17px;
                        transition: all 0.5s;
                        @include breakpoint(1199px){
                            width: 83px;
                        }
                        @include md{
                            display:none
                        }
                    }
                    &.active{
                        color: $primaryclr;
                        font-weight: $bold;
                        transition: all 0.5s;
                        @include md{
                            border-bottom: 2px solid $primaryclr;
                        }
                        &:after{
                            content: '';
                            background-image: url(../img/agenda-icon.svg);
                            width: 105px;
                            height: 105px;
                            background-repeat: no-repeat;
                            left: 78px;
                            filter: grayscale(1);
                            @include center(vertical);
                            @include breakpoint(1366px){
                                left: 67px;
                            }
                            @include breakpoint(1199px){
                                left: 79px;
                            }
                            @include md{
                                display:none
                            }
                        }
                        &:before{
                            width: 70px;
                        }

                    }
                }
            }
        }
    }
    .agenda-tab-content{
        .tab-content{
            box-shadow: 0 0 15px 7px #dddddd96;
            padding: 23px 30px;
            @include md{
                padding: 23px 13px 5px;
            }
            .tab-pane{
                h4 {
                    font-weight: 700;
                    padding-bottom: 11px;
                    color: $primaryclr;
                    padding-top: 10px;
                }
                .time-list {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        padding-right: 41px;
                        position:relative;
                        @include md{
                            margin-bottom: 15px;
                        }
                        @include sm{
                            padding-right: 0;
                            width: 50%;
                        }
                        &:nth-child(2), &:nth-child(4){
                            &:after{
                                display:none
                            }
                        }
                        &:after{
                            position: absolute;
                            content: '';
                            background-color: #ddd;
                            height: 100%;
                            width: 1px;
                            top: 0;
                            right: 20px;
                            @include sm{
                                right: 14px;
                            }
                        }
                        &:last-child{
                            &:after{
                                background-color: transparent;
                            }
                        }
                        p{
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            @include sm{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

.speaker-area{
    padding: 0px 0 60px;
    @include md{
        padding: 0px 0 40px;
    }
    a{
        color:#000;
        &:hover{        
            color:#000;
        }
    }
    .speaker-box{
        background-color: #efefef;
        padding: 15px;
        margin-bottom: 25px;
        height: calc(100% - 25px);
        transition:all 0.5s;
        &:hover{
            background-color: $secondaryclr;
            @include md{
                background-color: #efefef;
            }
        }
        img{
            width: 100%;
        }
        h4{
            padding: 17px 0 10px;
            font-weight: 700;
        }
        p {
            padding-bottom: 50px;
            height: 129px;
            @include lsm{
                height: 142px;
            }
        }
        .icon-speaker{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                color:#000;
                font-size: 16px;
                display: flex;

                img{
                    width: auto;
                    margin-right: 4px;
                }
            }
        }
    }
}

.event-online{
    background: url(../img/event-banner.jpg);
    padding: 50px 0;
    @include sm{
        padding: 40px 0;
        text-align: center;
    }
    
    .event-content{
        h2{
            // font-size: 26px;
            font-weight: bold;
            padding-bottom: 20px;
            color: $white;
            @include sm{
                font-size: 23px;
            }
        }
        a{
            color: $white;
            text-transform: capitalize;
            font-size: 22px;
            @include sm{
                font-size: 15px;
            }
            img{
                margin-right:12px;
                @include sm{
                    width: 78px;
                }
            }
        }
    }
    .event-logo{
        @include sm{
            display:none;
        }
    }
}

.past-conference{
    padding: 0px 0 50px;
    @include sm{
        padding: 30px 0 20px;
    }
    .conference-list{
        li {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 21px;
            &:last-child{
                .date-conference{
                    &::after{
                        background-position: -18px center;
                    }
                }
            }
            .date-conference {
                color: $primaryclr;
                font-weight: 700;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                position: relative;
                width: 19%;
                padding: 28px 0;
                @include breakpoint(1366px){
                   width: 23%;
                }
                @include breakpoint(1199px){
                    width: 24%;
                }
                @include md{
                    display:none;
                }
                &::before {
                    content: '';
                    background-color: $primaryclr;
                    width: 70px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 14px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    background-image: url(../img/agenda-icon.svg);
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: -24px center;
                    filter: grayscale(1);
                }
                
            }
            .event-details {
                width: 80%;
                box-shadow: 0 0 15px 7px #dddddd96;
                padding: 20px 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include breakpoint(1366px){
                    width: 77%;
                }
                @include breakpoint(1199px){
                    width: 76%;
                }
                @include md{
                    width: 100%;
                }
                @include sm{
                    padding: 18px 13px;
                }
                .responsive-date{
                    display:none;
                    @include md{
                        display: block;
                        font-weight: $bold;
                    }
                }
                p{
                    font-size: 18px;
                    color: $primaryclr;
                    @include md{
                        display: none;
                    }
                    @include sm{
                        font-size: 14px;
                    }
                }
                .btn-dflt {
                  @include btn-dflt;
                }
            }
        }
    }
}



footer{
    background-color: $primaryclr;
    padding: 50px 0;
    @include sm{
        padding: 30px 0;
    }
    .foot-title{
        font-weight: $bold;
        color: $white;
        margin-bottom:20px !important;
    }
    .contact-details{
        .cont-detail{
            display: flex;
            li{
                list-style-type: none;
                &:first-child{
                    margin-right:27px;
                }
                a{
                    color: $white;
                    display: table;    
                    line-height: 32px;        
                    span{
                        display: block;
                        font-weight: 700;
                        img{
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
    .stay-connect{
        @include md{
            margin-top: 14px;
        }
        .social-links{
            display:flex;
            list-style-type: none;
            margin-bottom: 25px;
            li{
                a{
                    img{
                        width: 23px;
                    }
                }
                &:not(:last-child){
                    margin-right:34px;
                }
            }
        }
    }
}


// Modal
.modal{
    background: rgba(0, 0, 0, 0.8);
    .modal-dialog {
        max-width: 830px !important;
        @include center(both);
        @include lsm{
            max-width: 100% !important;
            width: 100% !important;
            margin: 0;
        }
        .modal-content{
            border-radius:0px;
            .speaker-modal {
                padding: 23px;
                .btn-close {
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: #faefdb;
                    opacity: 1;
                    font-size: 12px;
                    padding: 8px 10px;
                }
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: $primaryclr;
                padding-bottom: 10px;
            }
            h5{
                padding-bottom: 9px;
                font-weight: 700;
                font-size: 17px;
            }
            .scroll-on-mobile {
                @include lsm{
                    height: 420px;
                    overflow-y: auto;
                }
            }
        }
    }
}